@charset "UTF-8";
html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #404040; }

body {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3);
  border: none;
  font: inherit;
  text-transform: uppercase;
  padding: 18px 20px;
  line-height: 1; }
  input[type="text"]:hover,
  input[type="tel"]:hover,
  input[type="email"]:hover,
  select:hover,
  textarea:hover {
    background-color: rgba(0, 0, 0, 0.15); }
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  select:focus,
  textarea:focus {
    outline: 2px solid #8f8a81;
    background-color: #fff;
    color: #000; }

textarea {
  resize: none;
  height: 122px;
  line-height: 1.2; }

input[type="checkbox"] {
  position: absolute;
  opacity: 0; }
  input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 36px;
    height: 36px;
    position: relative;
    margin-right: 17px;
    background-color: rgba(0, 0, 0, 0.1); }
  input[type="checkbox"]:focus + label::before {
    background-color: rgba(0, 0, 0, 0.15);
    outline: 2px solid rgba(0, 0, 0, 0.5); }
  input[type="checkbox"]:hover + label::before {
    background-color: rgba(0, 0, 0, 0.15); }
  input[type="checkbox"]:checked + label::before {
    background: rgba(0, 0, 0, 0.15) url("/img/checkbox-sign.png") no-repeat center; }
  input[type="checkbox"]:active + label::before {
    background: rgba(0, 0, 0, 0.5) url("/img/checkbox-sign.png") no-repeat center; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.select-wrapper {
  position: relative; }
  .select-wrapper::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 10px;
    border: 10px solid rgba(0, 0, 0, 0.3);
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: none;
    position: absolute;
    top: 22px;
    right: 14px; }

.link__brown-btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 20px;
  color: #fff;
  background-color: #834700;
  border: 2px solid #834700; }
  .link__brown-btn:focus {
    outline: none;
    border-color: #ffcb78; }
  .link__brown-btn:hover {
    background-color: #6a3900;
    border-color: #6a3900; }
  .link__brown-btn:active {
    color: rgba(255, 255, 255, 0.3); }

.link__ghost-btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 20px;
  color: #834700;
  border: 2px solid #834700; }
  .link__ghost-btn:focus {
    outline: none;
    border-color: #ffcb78; }
  .link__ghost-btn:hover {
    color: #6a3900;
    border-color: #6a3900; }
  .link__ghost-btn:active {
    color: rgba(106, 57, 0, 0.3);
    border-color: rgba(106, 57, 0, 0.3); }

.aboutus .link__ghost-btn {
  border-color: #a5a097;
  color: #a5a097; }
  .aboutus .link__ghost-btn:focus {
    outline: none;
    border-color: #ffcb78; }
  .aboutus .link__ghost-btn:hover {
    background-color: #a5a097;
    color: #fff; }
  .aboutus .link__ghost-btn:active {
    background-color: #a5a097;
    color: rgba(255, 255, 255, 0.3); }

.link__icon-btn {
  display: inline-block;
  padding: 34px;
  border: 1px solid #322d24; }
  .link__icon-btn--fb {
    background: #1b1b1b url("/img/fb-icon.png") center no-repeat; }
  .link__icon-btn--in {
    background: #1b1b1b url("/img/insta-icon.png") center no-repeat; }
  .link__icon-btn--vk {
    background: #1b1b1b url("/img/vk-icon.png") center no-repeat; }
  .link__icon-btn--ha {
    background: #1b1b1b url("/img/htmlacademy.png") center no-repeat; }
  .link__icon-btn:focus {
    outline: none;
    border-color: #ffcb78; }
  .link__icon-btn:hover {
    border-color: #5f5037;
    color: #fff; }
  .link__icon-btn:active {
    opacity: 0.5; }

.link__menu {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  padding: 22px 0;
  color: #fff;
  border: 1px solid transparent;
  border-left: none;
  border-right: none; }
  .link__menu:focus {
    outline: none;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8); }
  .link__menu:hover {
    color: #ffcb78;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8); }
  .link__menu:active {
    color: rgba(255, 203, 120, 0.3);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff; }

.link__simple-text {
  text-decoration: underline;
  color: #834700; }
  .link__simple-text:focus {
    outline: 2px solid #ffcb78; }
  .link__simple-text:hover {
    color: #6a3900; }
  .link__simple-text:active {
    color: #cab7a2; }

.page-header {
  padding: 60px calc(25% - 100px) 154px calc(25% - 100px);
  display: flex;
  max-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffcb78;
  background-image: url("/img/header-background.png");
  background-position: center bottom;
  background-size: cover; }
  .page-header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px; }

.logo {
  width: 140px;
  height: 76px;
  vertical-align: top; }
  .logo--footer {
    margin: 0 40px; }

.menu {
  width: 75%; }
  .menu__nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-left: none;
    border-right: none; }
  .menu__nav-item {
    margin-top: -1px;
    margin-bottom: -1px; }
  .menu__nav-item:first-of-type {
    margin-left: 0; }
  .menu--footer {
    width: 60%;
    margin-right: 100px; }

.page-title {
  color: #fff;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  margin: 0; }

.page-main {
  flex-grow: 1; }

.section {
  padding: 95px calc(25% - 100px) 107px calc(25% - 100px);
  background-color: #fff; }
  .section__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 106px;
    color: #000; }

.new__list {
  display: flex;
  list-style: none;
  justify-content: space-between; }

.new__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 300px;
  width: 50%;
  padding: 0 32px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5; }

.new__item-title {
  display: block;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 44px; }

.new__item-description {
  position: relative;
  flex-grow: 1;
  margin-bottom: 60px; }

.new__item-pic {
  padding-left: 12px;
  max-width: 100%;
  height: auto; }

.new__item-topright-block {
  position: absolute;
  top: -2px;
  right: -6px;
  width: 150px;
  z-index: 1; }

.new__item-specs {
  text-transform: uppercase;
  border-collapse: collapse;
  font-weight: 700;
  width: 100%;
  color: #000;
  margin-bottom: 8px; }
  .new__item-specs td {
    line-height: 1;
    border: 1px solid #e5e5e5;
    padding: 10px 10px 14px 10px; }

.new__item-ingredients {
  font-size: 14px;
  line-height: 24px;
  word-wrap: wrap; }

.new__item-bottom-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .new__item-bottom-block > * {
    margin-right: 7px;
    margin-bottom: 5px; }

.new__item-price {
  font-weight: 700;
  flex-grow: 1;
  text-align: center;
  min-width: 15%; }

.advantages {
  padding: 80px 0 90px;
  background-color: #ffcb78; }
  .advantages__title {
    display: none; }
  .advantages__list {
    display: flex;
    justify-content: space-between;
    list-style: none; }
  .advantages__item {
    position: relative;
    width: 33.333%;
    padding-top: 100px;
    padding-left: calc(16% - 100px);
    padding-right: calc(15.833% - 100px);
    border-left: 1px solid #e5b66c; }
    .advantages__item:first-of-type {
      border-left: none; }
    .advantages__item::before {
      content: "";
      position: absolute;
      width: 70px;
      height: 70px;
      display: inline-block;
      top: 0; }
  .advantages__item:first-of-type::before {
    background: url("/img/icon-brew.png") no-repeat; }
  .advantages__item:nth-of-type(2)::before {
    background: url("/img/icon-matreshka.png") no-repeat; }
  .advantages__item:last-of-type::before {
    background: url("/img/icon-thumbsup.png") no-repeat; }
  .advantages__item-title {
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 17px; }

.history {
  padding-bottom: 80px; }
  .history__title {
    margin-bottom: 82px; }
  .history__list {
    list-style: none; }
  .history__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 64px; }
    .history__item:last-of-type {
      margin-bottom: 0; }
    .history__item--left-side {
      max-width: 61%; }
  .history__item-title {
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 25px; }
  .history__item-source {
    display: block;
    font-style: italic;
    margin-bottom: 37px;
    line-height: 1; }
  .history__item-img {
    display: block; }

.aboutus {
  background-color: #ede5d8;
  padding-bottom: 90px; }
  .aboutus__title {
    margin-bottom: 90px; }
  .aboutus__item {
    position: relative;
    margin-bottom: 40px; }
    .aboutus__item:last-of-type {
      margin-bottom: 0; }
    .aboutus__item::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 41px;
      height: 31px;
      background: url("/img/quotes.png") no-repeat;
      left: -105px;
      top: 7px; }
  .aboutus__item-content {
    width: 86%;
    margin-bottom: 35px; }
  .aboutus__item-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .aboutus__item-source {
    color: #000;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase; }

.assortment {
  padding-top: 100px;
  padding-bottom: 94px;
  line-height: 1; }
  .assortment__title {
    margin-bottom: 70px; }
  .assortment__table {
    border-collapse: collapse;
    text-transform: uppercase;
    width: 100%; }
    .assortment__table tr {
      border-bottom: 1px solid #e5e5e5; }
      .assortment__table tr td:last-of-type,
      .assortment__table tr th:last-of-type {
        text-align: right; }
    .assortment__table th,
    .assortment__table td {
      padding: 24px 0;
      text-align: left; }
    .assortment__table th {
      font-size: 11px;
      padding-bottom: 40px;
      font-weight: 400;
      color: #999999; }
  .assortment__item-title {
    font-weight: 700;
    color: #000;
    width: 50%; }
    .assortment__item-title--new::after {
      content: "Новинка";
      display: inline-block;
      font-size: 8px;
      background-color: #000;
      margin-left: 22px;
      color: #fff;
      vertical-align: super;
      padding: 3px 4px;
      border-radius: 2px; }

.orderform {
  background-color: #ffcb78;
  padding-bottom: 109px; }
  .orderform__title {
    margin-bottom: 88px; }
  .orderform__description {
    width: 90%;
    margin-bottom: 66px; }
  .orderform__form {
    width: 79%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .orderform__field {
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    margin-bottom: 20px; }
    .orderform__field label {
      display: inline-block;
      color: #000;
      margin-bottom: 3px; }
    .orderform__field input[type="text"],
    .orderform__field input[type="tel"],
    .orderform__field input[type="email"],
    .orderform__field select,
    .orderform__field textarea {
      display: block;
      width: 100%; }
    .orderform__field--halfwidth {
      width: 46%; }
  .orderform__checkbox {
    margin-top: 10px;
    margin-bottom: 32px; }

.page-footer {
  padding: 60px calc(15.833% - 100px) 20px calc(16% - 100px);
  background-color: #000; }
  .page-footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 47px; }
  .page-footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .page-footer__socials-title {
    display: none; }
  .page-footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%; }
    .page-footer__copyright a {
      margin-left: 150px; }
  .page-footer__info {
    font-size: 14px;
    line-height: 20px;
    color: #989898;
    max-width: 30%; }

.socials__list {
  list-style: none;
  font-size: 0;
  line-height: 0; }

.socials__item {
  display: inline-block;
  vertical-align: top; }

.socials__item-sign {
  display: none; }
