$page-title-color: #fff;
$default-text-color: #404040;
$default-title-color: #000;

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: $default-text-color;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  &__brown-btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 20px;
    color: #fff;
    background-color: #834700;
    border: 2px solid #834700;
    &:focus {
      outline: none;
      border-color: #ffcb78;
    }
    &:hover {
      background-color: #6a3900;
      border-color: #6a3900;
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
  &__ghost-btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 20px;
    color: #834700;
    border: 2px solid #834700;
    &:focus {
      outline: none;
      border-color: #ffcb78;
    }
    &:hover {
      color: #6a3900;
      border-color: #6a3900;
    }
    &:active {
      color: rgba(106, 57, 0, 0.3);
      border-color: rgba(106, 57, 0, 0.3);
    }
  }
  &__icon-btn {
  }

  &__menu {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    padding: 22px 0;
    color: #fff;
    // костыль с прозрачной рамкой, чтобы рамка списка и рамка кнопки не накладывались друг на друга
    border: 1px solid transparent;
    border-left: none;
    border-right: none;
    &:focus {
      outline: none;
      border-top: 1px solid rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
    &:hover {
      color: #ffcb78;
      border-top: 1px solid rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
    &:active {
      color: rgba(255, 203, 120, 0.3);
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
  }

  &__simple-text {
  }
}

.page-header {
  padding: 60px calc(25% - 100px) 154px calc(25% - 100px);
  display: flex;
  max-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffcb78;
  background-image: url("../../img/header-background.png");
  background-position: center bottom;
  background-size: cover;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
  }
  &__bottom {
  }
  &__title {
  }
}

.logo {
  width: 140px;
  height: 76px;
  vertical-align: top;
  &--footer {
  }
}

.menu {
  width: 75%;
  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-left: none;
    border-right: none;
  }
  &__nav-item {
    margin-top: -1px;
    margin-bottom: -1px;
  }
  &__nav-item:first-of-type {
    margin-left: 0;
  }
}

.page-title {
  color: $page-title-color;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  margin: 0;
}

.page-main {
}

.section {
  padding: 95px calc(25% - 100px) 107px calc(25% - 100px);
  background-color: #fff;
  &__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 106px;
    color: $default-title-color;
  }
  &__content {
  }
}

.new {
  &__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 300px;
    width: 50%;
    padding: 0 32px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
  }

  &__item-title {
    display: block;
    font-size: 40px;
    text-transform: uppercase;
    color: $default-title-color;
    margin-bottom: 44px;
  }

  &__item-description {
    position: relative;
    flex-grow: 1;
    margin-bottom: 60px;
  }
  &__item-pic {
    padding-left: 12px;
    max-width: 100%;
    height: auto;
  }
  &__item-topright-block {
    position: absolute;
    top: -2px;
    right: -6px;
    width: 150px;
    z-index: 1;
  }
  &__item-specs {
    text-transform: uppercase;
    border-collapse: collapse;
    font-weight: 700;
    width: 100%;
    color: #000;
    margin-bottom: 8px;
    & td {
      line-height: 1;
      border: 1px solid #e5e5e5;
      padding: 10px 10px 14px 10px;
    }
  }
  &__item-ingredients {
    font-size: 14px;
    line-height: 24px;
    word-wrap: wrap;
  }
  &__item-about {
  }
  &__item-bottom-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    & > * {
      margin-right: 7px;
      margin-bottom: 5px;
    }
  }
  &__item-price {
    font-weight: 700;
    flex-grow: 1;
    text-align: center;
    min-width: 15%;
  }
}

.advantages {
  padding: 80px 0 95px;
  background-color: #ffcb78;
  &__title {
    display: none;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  &__item {
    position: relative;
    width: 33.333%;
    padding-top: 100px;
    padding-left: calc(16% - 100px);
    padding-right: calc(15.833% - 100px);
    border-left: 1px solid #e5b66c;
    &:first-of-type {
      border-left: none;
    }
    &::before {
      content: "";
      position: absolute;
      width: 70px;
      height: 70px;
      display: inline-block;
      top: 0;
    }
  }
  &__item:first-of-type::before {
    background: url("../../img/icon-brew.png") no-repeat;
  }
  &__item:nth-of-type(2)::before {
    background: url("../../img/icon-matreshka.png") no-repeat;
  }
  &__item:last-of-type::before {
    background: url("../../img/icon-thumbsup.png") no-repeat;
  }

  &__item-title {
    font-size: 20px;
    color: $default-title-color;
    text-transform: uppercase;
    margin-bottom: 17px;
  }
  &__item-description {
  }
}

.history {
  &__item {
    &--left-side {
    }
    &--right-side {
    }
  }
  &__item-description {
  }
  &__item-img {
  }
  &__item-source {
  }
  &__item-title {
  }
  &__list {
  }
}

.aboutus {
  &__item {
  }
  &__item-content {
  }
  &__item-source {
  }
}

.assortment {
  &__body {
  }
  &__item-title {
    &--new {
    }
  }
  &__table {
  }
  &__thead {
  }
}

.orderform {
  &__description {
  }
  &__field {
    &--halfwidth {
    }
  }
}

.page-footer {
  background-color: #000;
  &__bottom {
  }
  &__copyright {
  }
  &__info {
  }
  &__socials {
  }
  &__socials-title {
  }
  &__top {
  }
}

.socials {
  &__item {
    &--fb {
    }
    &--in {
    }
    &--vk {
    }
  }
  &__item-sign {
  }
  &__list {
  }
}
